# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.temp
.vitepress
.mint

dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.vscode
.DS_Store
.fleet
.idea
.claude
.projects
.mcp.json
repomix.config.json
.windsurfrules

# Test coverage
/coverage

# Local env files
.env
.env.*
!.env.example


# vitepress docs
docs/.vitepress/dist
docs/.vitepress/cache

package-lock.json
