@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* #fafafa */
    --foreground: 0 0% 9%; /* #161616 */

    --card: 0 0% 100%;
    --foreground: 240 2% 22%; /* #161616 */

    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 9%; /* #161616 */

    --primary: 0 0% 13%; /* #222222 */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 0 0% 96%; /* #fafafa */
    --secondary-foreground: 0 0% 32%; /* #000000 */

    --muted: 0 0% 91%; /* #d4d4d4 */
    --muted-foreground: 0 0% 45%; /* #737373 */

    --accent: 0 0% 98%; /* #fafafa */
    --accent-foreground: 0 0% 9%; /* #161616 */

    --destructive: 0 84.2% 60.2%; /* #ff4d4d */
    --destructive-foreground: 60 9.1% 97.8%; /* #f5f7fa */

    --border: 0 0% 90%; /* #e6e6e6 */
    --input: 0 0% 100%; /* #ffffff */
    --ring: 0 0% 13%; /* #222222 */
    --link: 178 14% 44%; /* #3b82f6 */
    --radius: 0.4rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --card: 0 0% 17%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 13%;

    --secondary: 0 0% 32%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 28%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 27%;
    --input: 0 0% 20%;
    --ring: 0 0% 98%;
    --link: 178 14% 54%;
  }
}

@layer base {
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('/fonts/SuisseIntl-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      url('/fonts/SuisseIntl-Medium.woff2') format('woff2'),
      url('/fonts/SuisseIntl-Medium.woff') format('woff');
  }
}

@layer base {
  :root {
    --positive: 151 45% 56%;
    --positive-foreground: 0 0% 100%;

    --warning: 32 78% 56%;
    --warning-foreground: 0 0% 100%;

    --negative: 0 59% 60%;
    --negative-foreground: 0 0% 100%;

    --info: 194 85% 89%;
    --info-foreground: 0 0% 9%;
  }
  .dark {
    color-scheme: dark;
    --positive: 142 85% 25%;
    --positive-foreground: 60 9.1% 97.8%;
  }
  * {
    @apply border-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background font-sans tracking-normal text-foreground;
    height: 100%;
    scroll-behavior: smooth;
  }
  #__nuxt {
    height: 100%;
  }
}

@layer components {
  .form-grid-wrap + .form-grid-wrap {
    @apply mt-8 !important;
  }
}
