@import 'tailwindcss';

@config '../../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility form-grid-wrap {
  & + & {
    @apply mt-8!;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%; /* #fafafa */
    --foreground: 240 2% 22%; /* #161616 */

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%; /* #161616 */

    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 9%; /* #161616 */

    --primary: 0 0% 13%; /* #222222 */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 0 0% 96%; /* #fafafa */
    --secondary-foreground: 0 0% 32%; /* #000000 */

    --muted: 0 0% 91%; /* #d4d4d4 */
    --muted-foreground: 0 0% 45%; /* #737373 */

    --accent: 0 0% 98%; /* #fafafa */
    --accent-foreground: 0 0% 9%; /* #161616 */

    --destructive: 0 80% 58%; /* #ff4d4d */
    --destructive-foreground: 0 0% 100%; /* #f5f7fa */

    --border: 0 0% 90%; /* #e6e6e6 */
    --input: 0 0% 100%; /* #ffffff */
    --ring: 0 0% 13%; /* #222222 */
    --link: 178 14% 44%; /* #3b82f6 */
    --shadow: rgb(0 0 0 / 10%);
    --radius: 0.4rem;
  }

  .dark {
    --background: 220 10% 11%;
    --foreground: 210 15% 92%;

    --card: 215 10% 14%;
    --card-foreground: 210 15% 92%;

    --popover: 215 12% 12%;
    --popover-foreground: 210 15% 92%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 13%;

    --secondary: 215 10% 26%;
    --secondary-foreground: 210 15% 97%;

    --muted: 215 15% 28%;
    --muted-foreground: 210 5% 70%;

    --accent: 217 15% 18%;
    --accent-foreground: 210 15% 90%;

    --destructive: 0 75% 60%;
    --destructive-foreground: 210 15% 92%;

    --border: 215 10% 27%;
    --input: 215 10% 14%;
    --ring: 210 15% 85%;
    --link: 178 30% 64%;
    --shadow: rgb(0 0 0 / 50%);
  }
}

@layer base {
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('/fonts/SuisseIntl-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      url('/fonts/SuisseIntl-Medium.woff2') format('woff2'),
      url('/fonts/SuisseIntl-Medium.woff') format('woff');
  }
}

@layer base {
  :root {
    --positive: 151 45% 56%;
    --positive-foreground: 0 0% 100%;

    --warning: 32 78% 56%;
    --warning-foreground: 0 0% 100%;

    --negative: 0 59% 60%;
    --negative-foreground: 0 0% 100%;

    --info: 194 85% 89%;
    --info-foreground: 0 0% 9%;
    --info-icon: 194 100% 64%;
  }
  .dark {
    color-scheme: dark;
    --positive: 151 45% 46%;
    --positive-foreground: 0 0% 100%;
  }
  * {
    @apply border-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background font-sans tracking-normal text-foreground;
    height: 100%;
    scroll-behavior: smooth;
  }

  input:is(:-webkit-autofill, :autofill) {
    -webkit-box-shadow: 0 0 0 1000px hsl(var(--input)) inset !important;
    -webkit-text-fill-color: hsl(var(--foreground)) !important;
    border-radius: inherit !important;
    border-bottom: 1px solid #c2ebff !important;
    border-right: 1px solid #c2ebff !important;
    background-size: 58.6px 22.49px !important;
    top: 2px !important;
    bottom: 2px !important;
    position: relative !important;
    width: calc(100% - 4px) !important;
    height: calc(100% - 4px) !important;
    left: 2px !important;
    right: 2px !important;
  }

  #__nuxt {
    height: 100%;
  }
}
