@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 83%;
    --muted-foreground: 0 0% 45%;

    --accent: 142 72% 29%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 90%;
    --input: 0 0% 100%;
    --ring: 0 0% 13%;
    --radius: 0.375rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 90%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 142 70% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 16%;
    --input: 0 0% 18%;
    --ring: 0 0% 40%;
  }
}

@layer base {
  :root {
    --positive: 104.54 67.06% 44.11%;
    --positive-foreground: 60 9.1% 97.8%;

    --positive-muted: 92.73 40.74% 94.71%;
    --destructive-muted: 0 100% 96.7%;
  }
  .dark {
    --positive: 104.54 67.06% 44.11%;
    --positive-foreground: 60 9.1% 97.8%;

    --positive-muted: 92.73 29.79% 20.32%;
    --destructive-muted: 0 56.65% 20.86%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    height: 100%;
  }
  #__nuxt {
    height: 100%;
  }
}
