name: Vercel Deployment Notifications

on:
    deployment_status:

jobs:
    notify_slack:
        if: github.event.deployment_status.state == 'success'
        runs-on: ubuntu-latest
        name: Notify Slack of Successful Deployment
        steps:
            - name: Debug Deployment Info
              run: |
                  echo "Environment: ${{ github.event.deployment.environment }}"
                  echo "Target URL: ${{ github.event.deployment_status.target_url }}"
                  echo "Ref: ${{ github.event.deployment.ref }}"

            - name: Post to Slack - Production
              if: github.event.deployment.environment == 'Production'
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
                  PRODUCTION_URL: ${{ vars.PRODUCTION_URL }}
              run: |
                  curl -X POST -H 'Content-type: application/json' --data '{
                  "text": "*A new release is live!* :rocket::sparkles:\n\n:point_right: <'"$PRODUCTION_URL"'|'"$PRODUCTION_URL"'> :point_left:"
                  }' $SLACK_WEBHOOK_URL

            - name: Post to Slack - QA/Next
              if: github.event.deployment.environment == 'qa'
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
                  QA_URL: ${{ vars.QA_URL }}
              run: |
                  curl -X POST -H 'Content-type: application/json' --data '{
                  "text": "*The QA site has been updated!* :unicorn_face:\n\n:point_right: <'"$QA_URL"'|'"$QA_URL"'> :point_left:"
                  }' $SLACK_WEBHOOK_URL
